* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    /* display: flex; */
    font-weight: bold;
    
}

.result {
    margin: auto auto;
    min-width: 70vw;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
}

.result div {
    width: 50vw;
    text-align: center;
}




canvas {
    background-image: url(planszapng.PNG);
    background-repeat: no-repeat;
    display: block;
    margin: 30px auto;

}

.gameNavigation {
    display: block;
    text-align: center;
}
button {
    font-weight: normal;
}

#previous {
    height: 30px;
    width: 80px;
}

#next {
    height: 30px;
    width: 80px;
}

.nick {
    color: brown;
}

.racks {
    display: flex;
    flex-direction: column;
    
}
.rack {

    height: 100px;
    width: 100vw;
    margin: auto;
    align-content: center;
}

.rack ul {
    display: flex;
    width: 600px;
    /* overflow: hidden; */
}

li {
    position: relative;
    background-color: #F8E8C7;
    display: inline-block;
    box-sizing: border-box;
    color: #015B52;
    font-size: 50px;
    height: 65px;
    width: 65px;
    border-radius: 10%;
    text-align: center;
    cursor: pointer;
    user-select: none;
    z-index: 1;
    margin-left: 10px;
}

sub {
    font-size: 15px;
    user-select: none;

}

.deletion-show {
    display: none;
}
.deletion {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    user-select: none;
}

.deletion-letter {
    box-sizing: border-box;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: #F8E8C7;
    border: 1px solid rgb(218, 193, 145);
    color: #015B52;
    border-radius: 3px;
    font-size: 30px;
    line-height: 40px;
}

.deleted {
    opacity: 0.2;
}

@media only screen and (max-width: 640px) {

    * {
        margin: 0;
        padding: 0;
        overflow-x: hidden;

    }

    #view2 {
        overflow-x: hidden;

    }

    canvas {
        transform: scale(0.5) translate(-50%, -50%);
        display: block;
        margin: auto;
        /*        transform: scale(0.5) translate(-47%, -20%);*/
/*        left: 0;*/
    }
    .gameNavigation, .racks {
        /*        transform: translate(100%, -700%);*/
                transform: translateY(-280px);
                
            }
            .rack{
                transform: translate(100%, -700%); 
                transform: translateY(-280px);
            }
      
            #reset {
                display: none;
            }

            li {
                width: 40px;
                height: 40px;
                font-size: 30px;
                margin: 3px;
                text-align: center;
            }
            .deletion-show {
                display: block;
            }
            .deletion {
                display: none;
                position: absolute;
                width: 300px;
                height: 300px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
            }
            .deletion-letter {
                width: 30px;
                height: 30px;
                font-size: 20px;
                line-height: 28px;
            }
            .active {
                display: flex;
            }
    }

